{% extends 'auth/common.html.jinja' %}
{% set active_page = 'register' %}

{% block title %}ثبت نام{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('auth.register_process') }}">
  <h1 class="h2 mb-3 fw-normal">ثبت نام</h1>

  <div class="form-floating">
    <input type="text" class="form-control start" id="floatingName" name="name" placeholder="Display Name"
      required>
    <label for="floatingName">نام نمایشی</label>
  </div>

  <div class="form-floating">
    <input type="text" class="form-control middle" id="floatingUsername" name="username" placeholder="Username"
      required>
    <label for="floatingUsername">نام کاربری</label>
  </div>

  <div class="form-floating">
    <input type="password" class="form-control middle" id="floatingPassword" name="password" placeholder="Password"
      required>
    <label for="floatingPassword">رمز عبور</label>
  </div>

  <div class="form-floating">
    <input type="password" class="form-control end" id="floatingPasswordRep" name="passwordRep" placeholder="Password Repeat"
      required>
    <label for="floatingPasswordRep">تکرار رمز عبور</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary" type="submit">ثبت نام</button>
</form>

<h5 class="mt-3">رمز عبور باید دارای شرایط زیر باشد</h5>
<ul class="text-start">
  <li>تنها شامل کاراکتر های ویژه (./?!@ و غیره) و حرف بزرگ و کوچک و اعداد انگلیسی باشد.</li>
  <li>دارای فاصله یا تب نباشد.</li>
  <li>حداقل ۸ حرف باشد.</li>
  <li>حداقل دارای ۱ عدد انگلیسی باشد.</li>
  <li>حداقل ۱ حرف بزرگ انگلیسی داشته باشد</li>
  <li>حداقل ۱ حرف کوچک انگلیسی داشته باشد.</li>
  <li>حداقل ۱ کاراکتر ویژه (./?!@ و غیره) داشته باشد.</li>
</ul>

<h5 class="mt-3">نام کاربری باید دارای شرایط زیر باشد:</h5>

<ul class="text-start">
  <li>تنها شامل حروف بزرگ و کوچک و اعداد انگلیسی و کاراکتر ـ (زیرخط) باشد.</li>
  <li>حداقل ۵ حرف و حداکثر ۳۲ حرف باشد.</li>
</ul>
{% endblock %}