{% extends 'dashboard/common.html' %}
{% set active_page = 'change_info' %}


{% block title %}ویرایش اطلاعات{% endblock %}
{% block header %}ویرایش اطلاعات{% endblock %}

{% block toolbar %}
{% endblock %}

{% block content %}
<div class="accordion" id="accordionPercentage">
  <div class="accordion-item">
      <h2 class="accordion-header" id="passwordChange">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              تغییر رمز عبور
          </button>
      </h2>

      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="passwordChange"
      data-bs-parent="#accordionPercentage">
      <div class="accordion-body">
<form method="POST" action="{{ url_for('auth.change_auth_process') }}">

        <div class="input-group mb-3">
          <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
        required>
      <label for="floatingPassword">رمز عبور فعلی</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingNewPassword" name="newPassword" placeholder="New password"
        required>
      <label for="floatingNewPassword">رمز عبور جدید</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingNewPasswordRep" name="newPasswordRep" placeholder="New password repeat"
        required>
      <label for="floatingNewPasswordRep">تکرار رمز عبور جدید</label>
    </div>



</div>

<button class="w-100 btn btn-lg btn-primary" type="submit">تایید</button>

    <h5 class="mt-3">رمز عبور باید دارای شرایط زیر باشد</h5>
<ul class="text-start">
  <li>تنها شامل کاراکتر های ویژه (./?!@ و غیره) و حرف بزرگ و کوچک و اعداد انگلیسی باشد.</li>
  <li>دارای فاصله یا تب نباشد.</li>
  <li>حداقل ۸ حرف باشد.</li>
  <li>حداقل دارای ۱ عدد انگلیسی باشد.</li>
  <li>حداقل ۱ حرف بزرگ انگلیسی داشته باشد</li>
  <li>حداقل ۱ حرف کوچک انگلیسی داشته باشد.</li>
  <li>حداقل ۱ کاراکتر ویژه (./?!@ و غیره) داشته باشد.</li>
</ul>
</form>
</div>
</div>

</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="name">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          تغییر نام نمایشی
      </button>
  </h2>
  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="name"
      data-bs-parent="#accordionPercentage">
      <div class="accordion-body">
        <form method="POST" action="{{ url_for('auth.change_name_process') }}">

          <div class="input-group mb-3">
            <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
          required>
        <label for="floatingPassword">رمز عبور فعلی</label>
      </div>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingName" name="name" placeholder="Name & Family Name"
          required>
        <label for="floatingName">نام نمایشی جدید</label>
      </div>
    
  
  
  </div>
  
  <button class="w-100 btn btn-lg btn-primary" type="submit">تایید</button>
  </form>
      </div>
  </div>
</div>


<div class="accordion-item">
  <h2 class="accordion-header" id="ics-import">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapse-ics-import" aria-expanded="false" aria-controls="collapse-ics-import">
          ورود تقویم از Google Calendar (iCalendar format)
      </button>
  </h2>
  <div id="collapse-ics-import" class="accordion-collapse collapse" aria-labelledby="ics-import"
      data-bs-parent="#accordionPercentage">
      <div class="accordion-body">
          <div class="input-group mb-3">
  
      <div class="form-floating">
        <input type="text" class="form-control" id="url" name="url" placeholder="url" required>
        <label for="url">آدرس فایل ics</label>

      </div>
      
      
      
    </div>
    <button class="w-100 btn btn-lg btn-primary" id="importIcs">تایید</button>

    <div class="d-none align-items-center mt-3" id="loading-spinner">
      
        <strong role="status">در حال بارگذاری ...</strong>
        <div class="spinner-border ms-auto" aria-hidden="true"></div>
    </div>
      </div>
  </div>
</div>
</div>
{% endblock %}

{% block code %}
<script>
  function showAlert(message, category) {
    document.querySelector('main').insertAdjacentHTML("afterbegin",  `
    <div class="alert alert-${category} mt-3 alert-dismissible fade show" role="alert">
      ${message}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    `);
  }

  document.getElementById("importIcs").addEventListener("click", function (event) {   
    event.preventDefault();
    const url = document.getElementById("url").value.trim();

    if(url == '') {
      showAlert("لطفا آدرس فایل ics به درستی وارد کنید.", "danger");
      return;
    }
    
    document.getElementById("loading-spinner").classList.remove("d-none");
    document.getElementById("loading-spinner").classList.add("d-flex");
    event.target.disabled = true;
    
    fetch("{{ url_for('dashboard.import_ics') }}?url=" + encodeURIComponent(url))
      .then(res => res.json())
      .then(res => {
        document.getElementById("loading-spinner").classList.add("d-none");
        document.getElementById("loading-spinner").classList.remove("d-flex");
        event.target.disabled = false;

        if(res.ok) {
          showAlert("ورود تقویم با موفقیت انجام شد.", "success")          
        } else {
          showAlert("لطفا آدرس فایل ics به درستی وارد کنید.", "danger")
        }
      })
  }, { capture: true });
</script>
{% endblock %}