{% extends 'dashboard/common.html' %}
{% set active_page = 'edit_today' %}

{% block title %}ویرایش برنامه{% endblock %}
{% block header %}ویرایش برنامه{% endblock %}
{% block content %}
<h3>برنامه ریزی های امروز</h3>
<ul>
  <li>برای افزودن یک برنامه جدید:‌ بر روی محور زمانی دوبار کلیک کنید.</li>
  <li>برای حذف یک برنامه:‌ برنامه مورد نظر انتخاب کنید، و از دکمه X استفاده کنید.</li>
  <li>برای ویرایش برنامه: برنامه مورد نظر انتخاب کنید، بر روی آن دوبار کلیک کنید.</li>
  <li>برای تغییر مدت و زمان برنامه: برنامه مورد نظر انتخاب کنید، از سمت چپ یا راست بکشید یا خود برنامه را منتقل کنید.
  </li>
  <li>تغییرات به طور خودکار ذخیره میشوند.</li>

</ul>
<br>
<div id="visualization"></div>


<!-- Server modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmModalLabel">تایید حذف</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        اطلاعات حذف شود؟
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="confirm">تایید</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="scheduleModalLabel">افزودن/ویرایش برنامه</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form onsubmit="return false;">
        <div class="modal-body">
          <div class="input-group mb-3">
            <label for="description" class="input-group-text col-form-label">توضیحات</label>
            <input type="text" class="form-control" id="description">
          </div>
          <div class="input-group mb-3">
            <label for="schedule-type" class="input-group-text col-form-label">نوع برنامه ریزی</label>
            <select class="form-select" aria-label="نوع برنامه ریزی" id="schedule-type">
              <option value="SLEEP">خواب</option>
              <option value="STUDY">درس خواندن</option>
              <option value="WORK">کار کردن</option>
              <option value="BREAK">استراحت</option>
              <option value="EXERCISE">ورزش</option>
              <option value="OTHER">دیگر موارد</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="add">ذخیره</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block code %}
<script type="text/javascript"
  src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
<link href="https://unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet"
  type="text/css" />

<style>
  .vis-item.sleep {
    background-color: #666DCB;
    color: #eee;
  }

  .vis-item.study {
    background-color: #3ABBC9;
    color: #eee;
  }

  .vis-item.work {
    background-color: #9BCA3E;
    color: #222;
  }

  .vis-item.break {
    background-color: #FEEB51;
    color: #222;
  }

  .vis-item.exercise {
    background-color: #FFB92A;
    color: #222;
  }

  .vis-item.other {
    background-color: #ED5314;
    color: #eee;
  }
</style>

<script>
  let container = document.querySelector('#visualization')

  let server_data = {{ today_schedules| safe }}

  server_data = server_data.map((entry) => {
    return {
      start: new Date(entry['start'] * 1000),
      end: new Date(entry['end'] * 1000),
      content: entry['description'],
      id: entry['id'],
      className: entry['type'].toLowerCase()
    }
  })

  let items = new vis.DataSet(server_data)

  let now = new Date();
  const min = now.setHours(0, 0, 0, 0);
  const max = now.setHours(23, 59, 59);

  let options = {
    min: min,
    max: max,
    rtl: true,
    locale: 'fa',
    timeAxis: {
      scale: 'minute', step: 15
    },
    editable: true,

    snap: function (date, scale, step) {
      var hour = 60 * 60 * 250;
      return Math.round(date / hour) * hour;
    },

    onMove: function (item, callback) {
      callback(item)

      let formData = new FormData();

      formData.append('id', item['id']);
      formData.append('start', item['start'].getTime());
      formData.append('end', item['end'].getTime());
      formData.append('description', item['content']);
      formData.append('type', item['className'].toUpperCase());

      fetch("{{ url_for('dashboard.update_schedule') }}", {
        body: formData,
        method: "post"
      }).then(res => console.log(res.status))
    },

    onMoving: function (item, callback) {
      let now = new Date();
      const min = now.setHours(0, 0, 0, 0);
      const max = now.setHours(23, 59, 59);

      if (item.start < min) item.start = min;
      if (item.start > max) item.start = max;
      if (item.end > max) item.end = max;

      callback(item); // send back the (possibly) changed item
    },

    onAdd: function (item, callback) {
      const btn = document.querySelector('#add');
      const modal = new bootstrap.Modal('#scheduleModal', {});
      modal.show();

      btn.addEventListener('click', (event) => {
        const name = document.querySelector('#description');
        const type = document.querySelector('#schedule-type');

        if ((!name.value) || (!type.value)) {
          return
        }

        item['end'] = new Date(item['start'].getTime() + 3600000)
        item['content'] = name.value;
        item['className'] = type.value.toLowerCase();

        name.value = ''
        type.value = ''

        let formData = new FormData();
        formData.append('start', item['start'].getTime());
        formData.append('end', item['end'].getTime());
        formData.append('description', item['content']);
        formData.append('type', item['className'].toUpperCase());

        const id = fetch("{{ url_for('dashboard.add_schedule') }}", {
          body: formData,
          method: "post"
        })
          .then(res => res.json())
          .then(res => {
            console.log(res['id'])
            item['id'] = res['id']
            callback(item)
          })
      }, { once: true })
    },

    onUpdate: function (item, callback) {
      const name = document.querySelector('#description');
      const type = document.querySelector('#schedule-type');
      name.value = item.content;
      type.value = item.className.toUpperCase();

      const btn = document.querySelector('#add');
      const modal = new bootstrap.Modal('#scheduleModal', {});
      modal.show();

      btn.addEventListener('click', (event) => {
        const name = document.querySelector('#description');
        const type = document.querySelector('#schedule-type');

        if ((!name.value) || (!type.value)) {
          return
        }

        item['content'] = name.value;
        item['className'] = type.value.toLowerCase();

        name.value = ''
        type.value = ''

        callback(item)

        let formData = new FormData();

        formData.append('id', item['id']);
        formData.append('start', item['start'].getTime());
        formData.append('end', item['end'].getTime());
        formData.append('description', item['content']);
        formData.append('type', item['className'].toUpperCase());

        fetch("{{ url_for('dashboard.update_schedule') }}", {
          body: formData,
          method: "post"
        }).then(res => console.log(res.status))
      }, { once: true })
    },

    onRemove: function (item, callback) {
      const btn = document.querySelector('#confirm');
      const modal = new bootstrap.Modal('#confirmModal', {});
      modal.show();

      btn.addEventListener('click', (event) => {
        let formData = new FormData();

        formData.append('id', item['id']);
        fetch("{{ url_for('dashboard.delete_schedule') }}", {
          body: formData,
          method: "post"
        }).then(res => console.log(res.status))
        callback(item)
      }, { once: true })
      callback(null)
    }
  }

  let timeline = new vis.Timeline(container, items, options)

</script>
{% endblock %}