{% extends 'dashboard/common.html.jinja' %}
{% set active_page = 'types' %}


{% block title %}ویرایش دسته بندی ها{% endblock %}
{% block header %}ویرایش دسته بندی ها{% endblock %}

{% block toolbar %}
{% endblock %}

{% block content %}
<div class="accordion" id="accordionCategories">
    <div class="accordion-item">
        <h2 class="accordion-header" id="planningCategory">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsePlanning" aria-expanded="true" aria-controls="collapsePlanning">
                دسته بندی برنامه ریزی
            </button>
        </h2>

        <div id="collapsePlanning" class="accordion-collapse collapse" aria-labelledby="planningCategory"
            data-bs-parent="#accordionCategories">
            <div class="accordion-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">نام و توضیحات</th>
                                <th scope="col">رنگ پس زمینه</th>
                                <th scope="col">رنگ متن</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="scheduleFirst">
                                <td><input type="text" class="form-control"></td>
                                <td><input type="color" class="form-control form-control-color"></td>
                                <td><input type="color" class="form-control form-control-color"></td>
                                <td>
                                    <div class="btn-toolbar mb-2 mb-md-0">
                                        <div class="btn-group me-2">
                                            <button type="button" class="btn btn-sm btn-outline-primary"
                                                onclick="addScheduleType()">افزودن</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% for type in schedule_types %}
                            <tr id="schedule-row-{{ type.id }}">
                                <td><input type="text" class="form-control" value="{{ type.description }}"
                                        id="schedule-description-{{ type.id }}" onchange="updateScheduleType(event)"
                                        data-id="{{ type.id }}"></td>
                                <td><input type="color" class="form-control form-control-color"
                                        value="{{ type.background_color_hex }}" id="schedule-background-{{ type.id }}"
                                        onchange="updateScheduleType(event)" data-id="{{ type.id }}"></td>
                                <td><input type="color" class="form-control form-control-color"
                                        value="{{ type.text_color_hex }}" id="schedule-text-{{ type.id }}"
                                        onchange="updateScheduleType(event)" data-id="{{ type.id }}"></td>
                                <td>
                                    <div class="btn-toolbar mb-2 mb-md-0">
                                        <div class="btn-group me-2">
                                            <button type="button" class="btn btn-sm btn-outline-danger" class="deleteScheduleType" data-id="{{ type.id }}" onclick="deleteScheduleType(event)">حذف</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="examsCategory">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseExams" aria-expanded="false" aria-controls="collapseExams">
                دسته بندی آزمون ها
            </button>
        </h2>
        <div id="collapseExams" class="accordion-collapse collapse" aria-labelledby="examsCategory"
            data-bs-parent="#accordionCategories">
            <div class="accordion-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">نام و توضیحات</th>
                                <th scope="col">رنگ</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="examFirst">
                                <td><input type="text" class="form-control"></td>
                                <td><input type="color" class="form-control form-control-color" title="رنگ"></td>
                                <td>
                                    <div class="btn-toolbar mb-2 mb-md-0">
                                        <div class="btn-group me-2">
                                            <button type="button" class="btn btn-sm btn-outline-primary" onclick="addExamType()">افزودن</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% for type in exam_types %}
                            <tr id="exam-row-{{ type.id }}">
                                <td><input type="text" class="form-control" id="exam-description-{{ type.id }}" value="{{ type.description }}" data-id="{{ type.id }}" onchange="updateExamType(event)"></td>
                                <td><input type="color" class="form-control form-control-color"
                                        value="{{ type.color_hex }}" title="رنگ" id="exam-color-{{ type.id }}" data-id="{{ type.id }}" onchange="updateExamType(event)"></td>
                                <td>
                                    <div class="btn-toolbar mb-2 mb-md-0">
                                        <div class="btn-group me-2">
                                            <button type="button" class="btn btn-sm btn-outline-danger" data-id="{{ type.id }}" onclick="deleteExamType(event)">حذف</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header" id="weeklyScheduleCategory">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseWeeklySchedule" aria-expanded="false" aria-controls="collapseWeeklySchedule">
                دسته بندی برنامه هفتگی
            </button>
        </h2>
        <div id="collapseWeeklySchedule" class="accordion-collapse collapse" aria-labelledby="weeklyScheduleCategory"
            data-bs-parent="#accordionCategories">
            <div class="accordion-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">نام و توضیحات</th>
                                <th scope="col">رنگ پس زمینه</th>
                                <th scope="col">رنگ متن</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="planFirst">
                                <td><input type="text" class="form-control"></td>
                                <td><input type="color" class="form-control form-control-color" title="رنگ پس زمینه">
                                </td>
                                <td><input type="color" class="form-control form-control-color" title="رنگ متن"></td>
                                <td>
                                    <div class="btn-toolbar mb-2 mb-md-0">
                                        <div class="btn-group me-2">
                                            <button type="button" class="btn btn-sm btn-outline-primary" onclick="addPlanType()">افزودن</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% for type in plan_types %}
                            <tr id="plan-row-{{ type.id }}">
                                <td><input type="text" class="form-control" value="{{ type.description }}" id="plan-description-{{ type.id }}" data-id="{{ type.id }}" onchange="updatePlanType(event)"></td>
                                <td><input type="color" class="form-control form-control-color" id="plan-background-{{ type.id }}"
                                        value="{{ type.background_color_hex }}" title="رنگ پس زمینه" data-id="{{ type.id }}" onchange="updatePlanType(event)"></td>
                                <td><input type="color" class="form-control form-control-color" id="plan-text-{{ type.id }}"
                                        value="{{ type.text_color_hex }}" title="رنگ متن" data-id="{{ type.id }}" onchange="updatePlanType(event)"></td>
                                <td>
                                    <div class="btn-toolbar mb-2 mb-md-0">
                                        <div class="btn-group me-2">
                                            <button type="button" class="btn btn-sm btn-outline-danger" data-id="{{ type.id }}" onclick="deletePlanType(event)">حذف</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block code %}
<script>
    const deleteScheduleType = (event) => {
        const id = event.srcElement.getAttribute('data-id')

        let formData = new FormData();
        formData.append('id', id);

        fetch("{{ url_for('dashboard.delete_schedule_type') }}", {
            body: formData,
            method: "post"
        }).then(res => res.json()).then(res => { 
            document.getElementById('schedule-row-' + id).style.display = 'none';
         })
    }
    const addScheduleType = () => {
        const description = document.querySelector('#scheduleFirst input[type="text"]').value;
        const backgroundColor = document.querySelector('#scheduleFirst input[type="color"]').value;
        const textColor = document.querySelectorAll('#scheduleFirst input[type="color"]')[1].value;

        let formData = new FormData();
        formData.append('description', description);
        formData.append('background_color_hex', backgroundColor);
        formData.append('text_color_hex', textColor);

        fetch("{{ url_for('dashboard.add_schedule_type') }}", {
            body: formData,
            method: "post"
        }).then(res => res.json()).then(res => {
            if (res.ok) {
                const newRow = document.createElement('tr');
                newRow.id = 'schedule-row-' + res.id;
                newRow.innerHTML = `
                    <td><input type="text" class="form-control" value="${description}" id="schedule-description-${res.id}" data-id="${res.id}" onchange="updateScheduleType(event)"></td>
                    <td><input type="color" class="form-control form-control-color" value="${backgroundColor}" id="schedule-background-${res.id}" data-id="${res.id}" onchange="updateScheduleType(event)"></td>
                    <td><input type="color" class="form-control form-control-color" value="${textColor}" id="schedule-text-${res.id}" data-id="${res.id}" onchange="updateScheduleType(event)"></td>
                    <td>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group me-2">
                                <button type="button" class="btn btn-sm btn-outline-danger" data-id="${res.id}" onclick="deleteScheduleType(event)">حذف</button>
                            </div>
                        </div>
                    </td>`;
                document.querySelector('#scheduleFirst').insertAdjacentElement('afterend', newRow);
            }
        });
    }
    const updateScheduleType = (event) => {
        const id = event.target.getAttribute('data-id');
        const description = document.getElementById(`schedule-description-${id}`).value;
        const backgroundColor = document.getElementById(`schedule-background-${id}`).value;
        const textColor = document.getElementById(`schedule-text-${id}`).value;

        let formData = new FormData();
        formData.append('id', id);
        formData.append('description', description);
        formData.append('background_color_hex', backgroundColor);
        formData.append('text_color_hex', textColor);

        fetch("{{ url_for('dashboard.update_schedule_type') }}", {
            body: formData,
            method: "post"
        }).then(res => res.json()).then(res => {
        });
    }

    const deletePlanType = (event) => {
        const id = event.target.getAttribute('data-id');

        let formData = new FormData();
        formData.append('id', id);

        fetch("{{ url_for('dashboard.delete_plan_type') }}", {
            body: formData,
            method: "post"
        }).then(res => res.json()).then(res => {
            if (res.ok) {
                document.getElementById('plan-row-' + id).style.display = 'none';
            }
        });
    }
    const addPlanType = () => {
        const description = document.querySelector('#planFirst input[type="text"]').value;
        const backgroundColor = document.querySelector('#planFirst input[type="color"]').value;
        const textColor = document.querySelectorAll('#planFirst input[type="color"]')[1].value;

        let formData = new FormData();
        formData.append('description', description);
        formData.append('background_color_hex', backgroundColor);
        formData.append('text_color_hex', textColor);

        fetch("{{ url_for('dashboard.add_plan_type') }}", {
            body: formData,
            method: "post"
        }).then(res => res.json()).then(res => {
            if (res.ok) {
                const newRow = document.createElement('tr');
                newRow.id = 'plan-row-' + res.id;
                newRow.innerHTML = `
                    <td><input type="text" class="form-control" value="${description}" id="plan-description-${res.id}" data-id="${res.id}" onchange="updatePlanType(event)"></td>
                    <td><input type="color" class="form-control form-control-color" value="${backgroundColor}" id="plan-background-${res.id}" data-id="${res.id}" onchange="updatePlanType(event)"></td>
                    <td><input type="color" class="form-control form-control-color" value="${textColor}" id="plan-text-${res.id}" data-id="${res.id}" onchange="updatePlanType(event)"></td>
                    <td>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group me-2">
                                <button type="button" class="btn btn-sm btn-outline-danger" data-id="${res.id}" onclick="deletePlanType(event)">حذف</button>
                            </div>
                        </div>
                    </td>`;
                document.querySelector('#planFirst').insertAdjacentElement('afterend', newRow);
            }
        });
    }
    const updatePlanType = (event) => {
        const id = event.target.getAttribute('data-id');
        const description = document.getElementById(`plan-description-${id}`).value;
        const backgroundColor = document.getElementById(`plan-background-${id}`).value;
        const textColor = document.getElementById(`plan-text-${id}`).value;

        let formData = new FormData();
        formData.append('id', id);
        formData.append('description', description);
        formData.append('background_color_hex', backgroundColor);
        formData.append('text_color_hex', textColor);

        fetch("{{ url_for('dashboard.update_plan_type') }}", {
            body: formData,
            method: "post"
        }).then(res => res.json()).then(res => {
        });
    }
    const deleteExamType = (event) => {
        const id = event.target.getAttribute('data-id');

        let formData = new FormData();
        formData.append('id', id);

        fetch("{{ url_for('dashboard.delete_exam_type') }}", {
            body: formData,
            method: "post"
        }).then(res => res.json()).then(res => {
            if (res.ok) {
                document.getElementById('exam-row-' + id).style.display = 'none';
            }
        });
    }
    const addExamType = () => {
        const description = document.querySelector('#examFirst input[type="text"]').value;
        const colorHex = document.querySelector('#examFirst input[type="color"]').value;

        let formData = new FormData();
        formData.append('description', description);
        formData.append('color_hex', colorHex);

        fetch("{{ url_for('dashboard.add_exam_type') }}", {
            body: formData,
            method: "post"
        }).then(res => res.json()).then(res => {
            if (res.ok) {
                const newRow = document.createElement('tr');
                newRow.id = 'exam-row-' + res.id;
                newRow.innerHTML = `
                    <td><input type="text" class="form-control" value="${description}" id="exam-description-${res.id}" data-id="${res.id}" onchange="updateExamType(event)"></td>
                    <td><input type="color" class="form-control form-control-color" value="${colorHex}" id="exam-color-${res.id}" data-id="${res.id}" onchange="updateExamType(event)"></td>
                    <td>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group me-2">
                                <button type="button" class="btn btn-sm btn-outline-danger" data-id="${res.id}" onclick="deleteExamType(event)">حذف</button>
                            </div>
                        </div>
                    </td>`;
                document.querySelector('#examFirst').insertAdjacentElement('afterend', newRow);
            }
        });
    }
    const updateExamType = (event) => {
        const id = event.target.getAttribute('data-id');
        const description = document.getElementById(`exam-description-${id}`).value;
        const colorHex = document.getElementById(`exam-color-${id}`).value;

        let formData = new FormData();
        formData.append('id', id);
        formData.append('description', description);
        formData.append('color_hex', colorHex);

        fetch("{{ url_for('dashboard.update_exam_type') }}", {
            body: formData,
            method: "post"
        }).then(res => res.json()).then(res => {
        });
    }
</script>
{% endblock %}